# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# Virtual Environment
# ===============================
venv/
.env/

# ===============================
# Model files (large binaries)
# ===============================
*.h5
*.keras

# ===============================
# Dataset cache
# ===============================
tensorflow_datasets/

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db
